
SDJ3/SDJ3 Assignment 3.zip
SDJ3/SDJ3 Assignment 3/SlaughterHouse/src/main/java/via/sdj3/slaughterhouse/Model/RemoteSlaughterHouse.java
SDJ3/SDJ3 Assignment 3/SlaughterHouse/src/main/resources/application.properties
