
SDJ3/SDJ3 Assignment 3.zip
SDJ3/SDJ3 Assignment 3/SlaughterHouse/src/main/java/via/sdj3/slaughterhouse/Model/RemoteSlaughterHouse.java
SDJ3/SDJ3 Assignment 3/SlaughterHouse/src/main/resources/application.properties
SEP3\SEP3 Project\BusinessLogicTier\BusinessLogicTier\bin\Debug
SEP3\SEP3 Project\DataAccessTier\workspace.xml
SEP3\SEP3 Project\PresentationTier\BlazorWASM\obj
SEP3\SEP3 Project\PresentationTier\Domain\obj
SEP3\SEP3 Project\PresentationTier\HttpClients\obj
SEP3/SEP3 Project/BusinessLogicTier/BusinessLogicTier/bin/Debug/net6.0/Application.dll
SEP3/SEP3 Project/BusinessLogicTier/BusinessLogicTier/bin/Debug/net6.0/BusinessLogicTier.dll
SEP3/SEP3 Project/BusinessLogicTier/BusinessLogicTier/bin/Debug/net6.0/DataAccess.dll
SEP3/SEP3 Project/BusinessLogicTier/BusinessLogicTier/bin/Debug/net6.0/Domain.dll
SEP3/SEP3 Project/DataAccessTier/.idea/workspace.xml
SEP3/SEP3 Project/PresentationTier/BlazorWASM/obj/BlazorWASM.csproj.nuget.dgspec.json
SEP3/SEP3 Project/PresentationTier/BlazorWASM/obj/BlazorWASM.csproj.nuget.g.props
SEP3/SEP3 Project/PresentationTier/BlazorWASM/obj/Debug/net6.0/BlazorWASM.assets.cache
SEP3/SEP3 Project/PresentationTier/BlazorWASM/obj/Debug/net6.0/BlazorWASM.csproj.AssemblyReference.cache
SEP3/SEP3 Project/PresentationTier/BlazorWASM/obj/Debug/net6.0/BlazorWASM.GeneratedMSBuildEditorConfig.editorconfig
SEP3/SEP3 Project/PresentationTier/BlazorWASM/obj/project.assets.json
SEP3/SEP3 Project/PresentationTier/BlazorWASM/obj/project.nuget.cache
SEP3/SEP3 Project/PresentationTier/BlazorWASM/obj/project.packagespec.json
SEP3/SEP3 Project/PresentationTier/BlazorWASM/obj/rider.project.restore.info
SEP3/SEP3 Project/PresentationTier/Domain/obj/Debug/net6.0/Domain.assets.cache
SEP3/SEP3 Project/PresentationTier/Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
SEP3/SEP3 Project/PresentationTier/Domain/obj/Domain.csproj.nuget.dgspec.json
SEP3/SEP3 Project/PresentationTier/Domain/obj/Domain.csproj.nuget.g.props
SEP3/SEP3 Project/PresentationTier/Domain/obj/project.assets.json
SEP3/SEP3 Project/PresentationTier/Domain/obj/project.nuget.cache
SEP3/SEP3 Project/PresentationTier/Domain/obj/project.packagespec.json
SEP3/SEP3 Project/PresentationTier/Domain/obj/rider.project.restore.info
SEP3/SEP3 Project/PresentationTier/HttpClients/obj/Debug/net6.0/HttpClients.assets.cache
SEP3/SEP3 Project/PresentationTier/HttpClients/obj/Debug/net6.0/HttpClients.csproj.AssemblyReference.cache
SEP3/SEP3 Project/PresentationTier/HttpClients/obj/Debug/net6.0/HttpClients.GeneratedMSBuildEditorConfig.editorconfig
SEP3/SEP3 Project/PresentationTier/HttpClients/obj/HttpClients.csproj.nuget.dgspec.json
SEP3/SEP3 Project/PresentationTier/HttpClients/obj/HttpClients.csproj.nuget.g.props
SEP3/SEP3 Project/PresentationTier/HttpClients/obj/project.assets.json
SEP3/SEP3 Project/PresentationTier/HttpClients/obj/project.nuget.cache
SEP3/SEP3 Project/PresentationTier/HttpClients/obj/project.packagespec.json
SEP3/SEP3 Project/PresentationTier/HttpClients/obj/rider.project.restore.info
