@page "/computers"
<h3>Computers</h3>

<div class="col-12 col-sm-6 col-xl-3 px-5 text-center justify-content-center my-5"><a><img src="Images/kompai.jpg" class="img-fluid" alt="kompai"></a><h1>Computer, has virus</h1><h5 class="gray"><p id="demo"></p>price = 69.42$</h5></div>

@code {
    
}