@page "/"
@using Syncfusion.Blazor.RichTextEditor
@inject NavigationManager navMgr


<PageTitle>Index</PageTitle>

<aside class="purple"></aside>
<aside class="medium-blue"></aside>
<aside class="light-blue"></aside>
<aside class="red"></aside>
<aside class="orange"></aside>
<aside class="yellow"></aside>
<aside class="cyan"></aside>
<aside class="light-green"></aside>
<aside class="lime"></aside>
<aside class="magenta"></aside>
<aside class="lightish-red"></aside>
<aside class="pink"></aside>
<div class="row">
<h1 style="color: white">WELCOME</h1>
</div>
    <div class="row">
        <div class="col-lg-3 mt-2">
            <select>
                <option value="all">All Categories</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="col-lg-6">
            <form class="d-flex">
                <input @bind="@searchString" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" @onclick="@OnSubmit">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                </button>
            </form>
        </div>
    </div>
<div class="row mt-2">
    <div class="col-lg-9">
        <img alt="placeholder 1" class="img-fluid rounded" src="Images/placeHolder1"/>
    </div>
    <div class="col-lg-3 container-fluid">
        <div class="row">
            <div class="col">
                <img alt="placeholder 2" class="img-fluid rounded" src="Images/placeHolder2" width="80%" height="80%"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <img alt="placeholder 3" class="img-fluid rounded" src="Images/placeHolder3" width="80%" height="80%"/>
            </div>
        </div>
    </div>
</div>

@code {
    private string searchString;

    private async void OnSubmit()
    {
        navMgr.NavigateTo($"/Marketplace/1/{searchString}");
    }

}