@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <h1 class="font-monospace">Chad List</h1>
    </div>
    <div class="row">
        <div class="col-lg-3 mt-2">
            <select>
                <option value="all">All Categories</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="col-lg-6">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                </button>
            </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-9">
            <img alt="placeholder 1" class="img-fluid rounded" src="Images/placeHolder1"/>
        </div>
        <div class="col-lg-3 container-fluid">
            <div class="row">
                <div class="col">
                    <img alt="placeholder 2" class="img-fluid rounded" src="Images/placeHolder2" width="80%" height="80%"/>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <img alt="placeholder 3" class="img-fluid rounded" src="Images/placeHolder3" width="80%" height="80%"/>
                </div>
            </div>
        </div>
    </div>
</div>