@page "/LoginSeeProfile"
@using BlazorWasm.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject IAuthService authService
@inject NavigationManager navMgr
<CascadingAuthenticationState>
<AuthorizeView>
    <NotAuthorized>
        <body>
            <div class="main">
                <div class="login">
                    <label>Please login</label>
                    <div class="field">
                        <label>Email:</label>
                        <input type="text" @bind="Email" placeholder="Email"/>
                    </div>
                    <div class="field">
                        <label style="text-align: center">Password:</label>
                        <input type="password" @bind="Password" placeholder="Password"/>
                    </div>
                    @if (!string.IsNullOrEmpty(ErrorLabel))
                    {
                        <div class="field">
                            <label style="color: red">
                                @ErrorLabel
                            </label>
                        </div>
                    }
                    <div class="field">
                        <button class="loginbtn" @onclick="LoginAsync">Log in</button>
                    </div>
                </div>
            </div>
     </body>
    </NotAuthorized>
    <Authorized>
        
    </Authorized>
</AuthorizeView>
</CascadingAuthenticationState>

@code {
    private string Email;
    private string Password;
    private string ErrorLabel;

    private async Task LoginAsync()
    {
        ErrorLabel = "";
        try
        {
            await authService.LoginAsync(Email, Password);
            navMgr.NavigateTo("/Marketplace");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            ErrorLabel = $"Error: {e.Message}";
        }
    }
}