@page "/Marketplace"
@using Microsoft.AspNetCore.Components.Authorization
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject NavigationManager navMgr
@inject IItemService itemService    

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="field">
                <button class="postItemBtn" @onclick="CreatePost">Log in</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="container">
                <div class="container">
                    <div class="row my-5">
                        <div class="col-12 mt-3 blue">
                            <h1 class="text-center">Items</h1>
                        </div>
                    </div>
                    <div class="row my-5 align-center border border-2 rounded-top">
                        <div class="row">
                            @foreach(Item item in items)
                            {
                                <label>@item.Name</label>
                                <label>@item.Description</label>
                            }
                            <div class="col-lg-4 text-center justify-content-center">
                                <ItemCard Image="../Images/kompai.jpg" Name="Gaming PC" Price="69.420" FullNameSeller="John White"></ItemCard>
                            </div>
                            <div class="col-lg-4 text-center justify-content-center">
                                <ItemCard Image="../Images/kompai.jpg" Name="Gaming PC" Price="69.420" FullNameSeller="John White"></ItemCard>
                            </div>
                            <div class="col-lg-4 text-center justify-content-center">
                                <ItemCard Image="../Images/kompai.jpg" Name="Gaming PC" Price="69.420" FullNameSeller="John White"></ItemCard>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>


@code {
    private List<Item> items = new();

    protected async override void OnInitialized()
    {
        items = await itemService.GetItems();
    }

    private void CreatePost()
    {
        navMgr.NavigateTo("/CreatePost");
    }
}