@page "/Marketplace"
<div class="container">
    <div class="container">
        <div class="row my-5">
            <div class="col-12 mt-3 blue">
                <h1 class="text-center">Items</h1></div>
        </div>
        <div class="row my-5 align-center border border-2 rounded-top">
            <div class="row">
                <div class="col-lg-4 text-center justify-content-center">
                    <ItemCard Image="../Images/kompai.jpg" Name="Gaming PC" Price="69.420" FullNameSeller="John White"></ItemCard>    
                </div>
                <div class="col-lg-4 text-center justify-content-center">
                    <ItemCard Image="../Images/kompai.jpg" Name="Gaming PC" Price="69.420" FullNameSeller="John White"></ItemCard>    
                </div>
                <div class="col-lg-4 text-center justify-content-center">
                    <ItemCard Image="../Images/kompai.jpg" Name="Gaming PC" Price="69.420" FullNameSeller="John White"></ItemCard>
                </div>
            </div>
        </div>
    </div>
</div>
            

@code {
    
}