/*

Beautiful shopping
• UI (User Interface) made using CSS Grid
• UX (User Experience) made using GreenSock's FLIP

Details:
--------------------------------
Click on any of the *Plant* to move it to the basket and if you didn't like the plant or you choose to select another plant click the plant that is inside the basket and it will be moved back to its original place — All will happen with beautiful and eye-catching animation. I set the basket UI limit to be able to hold four to five (depends on image size) plants, it can take more ...but then the basket UI would look broken, the plants are going to move outside the basket — Just clarifying, *It is on purpose*. I've used the word *click* but that doesn't mean you can't touch/tap the plant, if you're using touch screen devices, it gonna work fine, and yup, it's responsive!

*/

   html {
       font-size: 62.5%;
   }

body {
    --hovered-color: #4d4d4d;
    --hovered-background: #ebebeb;

    padding: 2rem 4rem;
    margin: 0;
    color: #050505;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

@media (max-width: 425px) {
    body {
        padding: 1rem;
    }
}

a, a:link {
    color: #000;
    text-decoration: none;
    transition: 0.1s linear;
}
a:hover {
    color: var(--hovered-color);
}
a:focus {
    outline: none;
}

input:focus,
button:focus {
    outline: none;
}

.page {
    color: white;
    display: grid;
    grid-template-areas: "header header"
      "sidebar main"
      "footer footer";
    grid-template-rows: 8rem 1fr;
    grid-template-columns: 24rem 1fr;
}

@media (max-width: 425px) {
    .page {
        grid-template-areas: "header header" "main main" "footer footer";
    }
}
@media (max-width: 375px) {
    .page {
        grid-template-rows: 6rem 1fr;
    }
}

.sidebar {
    grid-area: sidebar;
}

@media (max-width: 425px) {
    .sidebar {
        display: none;
    }
}
.sidebar__title {
    font-size: 2.8rem;
    font-weight: normal;
    margin-top: 3.4rem;
}
.sidebar__category:not(:first-of-type) .sidebar__heading {
    border-top: 1px solid #00000033;
    margin: 4rem 0 1.6rem;
    margin-bottom: 30px;
}
.sidebar__heading {
    font-size: 1.6rem;
    margin: 2rem 0 1.6rem;
    padding-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .1s linear;
}
.sidebar__heading:hover {
    color: var(--hovered-color);
}
.sidebar__heading > svg {
    height: 2.2rem;
}
.sidebar__options {
    padding: 0 1rem;
    box-sizing: border-box;
}

.check {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    cursor: pointer;
    transition: 0.1s linear;
}
.check:hover {
    color: var(--hovered-color);
}
.check__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.check__input:checked + .check__checkbox {
    background: #000;
}
.check__checkbox {
    width: 2rem;
    height: 2rem;
    border: 1px solid #00000066;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check__checkbox > svg {
    height: 2rem;
}
.check__text {
    font-size: 1.6rem;
    margin: 0;
    margin-left: 0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    grid-area: main;
    padding: 4rem;
    padding-right: 0;
    box-sizing: border-box;
    text-align: -webkit-center;
}

@media (max-width: 425px) {
    .main {
        padding-left: 0;
    }
}
.main__title {
    font-size: 3rem;
    margin: 1rem 0.4rem 0.8rem;
    text-align: left;
    display: none;
}
@media (max-width: 425px) {
    .main__title {
        display: block;
    }
}
.show {
    display: none;
}

@media (max-width: 425px) {
    .show {
        display: initial;
    }
}

@media (max-width: 425px) {
    .hide {
        display: none;
    }
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
@media (max-width: 768px) {
    .items {
        justify-content: center;
    }
}

.item {
    flex: 1 0 30rem;
    height: 38rem;
}

@media (max-width: 1024px) {
    .item {
        flex-grow: 0;
    }
}
.item__position {
    width: 100%;
    height: 30rem;
    position: relative;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.item__image {
    height: 100%;
    cursor: pointer;
}
.item__detail {
    font-size: 1.6rem;
    padding-top: .8rem;
    text-align: left;
}
.item__detail p {
    margin: 0;
    margin-left: 10px;
}

.pagination__page {
    text-align: center;
    font-size: 1.6rem;
}
.pagination__links {
    margin: 2rem 0 3rem;
    display: flex;
    justify-content: space-between;
}
.pagination__link {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}
.pagination__link > svg {
    --s: 0.6rem;
    height: 1em;
    transition: 0.1s linear;
}
.pagination__link:hover > svg {
    stroke: var(--hovered-color);
}
