@page "/Messages"


<div class="container messages-container">
    <div class="row">
        <div class="col-lg-4 mb-2">
            <form class="d-flex">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 border border-white rounded-start users me-3">
            <div class="row">
                <MessagesPerson FullName="Chiril Luncasu"></MessagesPerson>
                <MessagesPerson FullName="Matas Armonaitis"></MessagesPerson>
                <MessagesPerson FullName="Tomas Gres"></MessagesPerson>
                <MessagesPerson FullName="Dan Sebastian Ceapa"></MessagesPerson>
                <MessagesPerson FullName="Dragos Bonaparte"></MessagesPerson>
            </div>
        </div>
        <div class="col-lg-7 border border-white rounded-end position-relative message-field">
            <!--Messages-->
            <div>

            </div>
            <!--Send button/TextArea-->
            <div class="">
                <form class="d-flex position-absolute bottom-0 start-0 message-typer">
                    <input class="form-control" type="text" placeholder="Enter text" aria-label="Message">
                    <button class="btn btn-success" type="submit">
                        Send
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@code {

    protected override Task OnInitializedAsync()
    {
        throw new NotImplementedException();
    }


}