@inherits LayoutComponentBase
<NavMenu/>

<main>
    <!--<div class="top-row px-4">
        <LoginButtons/>
    </div>-->
    <article class="content px-4">
        @Body
    </article>
</main>

<BottomNavMenu/>