
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid d-flex justify-content-center" src="@Image" alt="image of the item">
            </div>
            <div class="col-lg-4">
                <p>Item: @Name</p>
                <p>Description: @Description</p>
                <p>Price: @Price @Currency</p>
            </div>
        </div>
        </div>
</div>

@code {
    [Parameter]
    public string Name {get; set;}
    
    [Parameter]
    public string Image { get; set; }
    
    [Parameter]
    public string Description { get; set; }
    
    [Parameter]
    public double Price { get; set; }
    
    [Parameter]
    public string Currency { get; set; }
}